export EDITOR=vim
export SUDO_EDITOR=vim

case `uname` in
Darwin)
    eval $(/opt/homebrew/bin/brew shellenv)
    eval "$(pyenv init --path)"
    ;;
Linux)
    ;;
esac


{{ if eq .chezmoi.username "wuke" }}
# Added by Toolbox App
export PATH="$PATH:/u/wuke/.local/share/JetBrains/Toolbox/scripts"
{{ end }}

